data/raw/
data/processed/
*.zip
*.csv
# reference ntbk
full-walkthrough-eda-fe-model-tuning.ipynb

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS/editor noise
.DS_Store
Thumbs.db
